<!DOCTYPE html>
<html lang="pt-br">
<head>
<link rel="stylesheet" href="/css/msg.css">
</head>
<body>
{{#if success_msg}}
<div id="success">{{success_msg}}</div>
{{/if}}


{{#if error_msg}}
<div id="error">{{error_msg}}</div>

{{/if}}
    
</body>
</html>