<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
<link rel="stylesheet" href="/css/footer.css">

</head>
<body>
    <section id="footer">

        <div id="footer-items">
            

    <img src="/img/storm.svg" alt=" Logo da Storm, toque ou clique aqui para voltar ao topo da página">
    
        <div id="footer-options">
            <ul id="firstcolumn">
          <li><a href="#">Contato</a></li>
          <li><a href="#">Sobre</a></li>
            </ul>
            <ul id="secondcolumn">
            <li><a href="#">Produtos</a></li>
            <li><a href="#">Serviços</a></li>
            </ul>
        </div>
      
        </div>
          <div id="final-footer">
            <div id="credits">
 Storm Oficial Dev. 
            </div>
            <div id="social-media">
           <a href="" target="_blank"><img src="/img/linkedin.png" alt="URl do Linkedin da Storm"></a>
           <a href="" target="_blank"> <img src="/img/insta.png" alt="URL do Instagram"></a>        
            <a href="tel:" target="_blank"><img src="/img/whatsapp.png" alt="Link do WhatsApp da Storm"></a>
            </div>
          </div>
    </section>
   
</body>
</html>