<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciar Produtos</title>
    <link rel="stylesheet" href="/css/vm-gerenciar-produtos.css">
</head>
<body>
    <div id="btn-superior">
        <a href="/user/dev/gerenciar-produtos"  class="btn-submit">Produtos</a>
        <a href="/user/dev/gerenciar-categorias"  class="btn-submit">Categorias</a>

    </div>
<br>
</body>
</html>