.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
  }
  
  .active, .accordion:hover {
    background-color: #ccc;
  }
  
  .accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2212";
  }
  
  .panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }

  .btn-submit{
    width: 60px;
    height: 30px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-items: center;
    background-color: #083358;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
  }
  
  .btn-submit:hover{
    background-color: rgba(8, 51, 88, 0.95);
 
   
}


.input-submit {
  margin: 0.6rem 0;
  padding: 0.8rem 1.2rem;
  border: 1px solid black;
  border-radius: 10px;
 }