@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap');



#cad-quest {
display: flex;
flex-direction: row;
width: 95%;
justify-content: center;
align-items: center;
border: 2px;

}

#question {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 95%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, .212);
    border-radius: 6px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    padding: 0 15px;

}

#question button {
  border: none;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    padding: 0.5rem 3rem;
    background: none;
    cursor: pointer;
   font-family: Arial, Helvetica, sans-serif;
   font-size: medium;
    
}

#question button:hover {
    background-color: rgba(0, 0, 0, 0.1);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}



#showcase {
height: 100vh;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
color: #fff;
background: url('/img/solar-panel.jpg') no-repeat center center/cover;
background-color: rgba(0, 0, 0, 0.7);
background-blend-mode: color;
font-family: Arial, Helvetica, sans-serif;
font-size: medium;
}

#showcase button {
    border: none;
    border-bottom: 2px solid rgba(255, 255, 255, 255);
      padding: 0.5rem 3rem;
      background: none;
      cursor: pointer;
     font-family: Arial, Helvetica, sans-serif;
     font-size: medium;
     color: white;
     
    }
    
    #showcase button:hover{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: rgba(0, 0, 0, 0.1);
}