<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FaçaJá Seu Orçamento!</title>
    <link rel="stylesheet" href="/css/escolhaorcamento.css">
   
</head>
<!--html-->
<body>
    
    <main id="meio">
        <section id="choiceform">

           <div id="shortform">
            <div id="texto">
        <h2>Memorial Descritivo</h2>
        <p>Crie um memorial descritivo rapidamente</br> utilizando nossa ferramenta de calculo automático  </br>para profissionais de eletrônica</br> e gere-o em PDF.</p>
            </div>
            <div id="btn">
            <a href="/memorial-descritivo"><button>Criar Memorial descritivo!</button></a>
            </div>
           </div>


           <div id="completeform">
           <div id="texto">
        <h2>Orçamento de projeto Solar</h2>
            <p>Gere um orçamento baseado nas </br> irformações dadas por você! </br> Realizando comparações com o seu uso energético </br> para gerar uma análise completa. </p>
            </div>
            <div id="btn">
            <a href="/orcamentosolar"> <button>Criar o meu Orçamento!</button></a>
            </div>
           </div>
        </section>
    </main>
    
     
</body>
</html>