<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Início</title>
    <link rel="stylesheet" href="/css/style.css">
   
</head>
<!--HTML-->


<body>

{{#if user}}
{{else}}
<!--BALÃ0 DE PERGUNTA 'AINDA NÃO CADASTRADO?'-->
<div id="cad-quest">
   <div id="question">

<h2>Ainda não cadastrado?</h2>
<a href="sigin"><button>Cadastre-se</button></a>
</div>
</div>
{{/if}}
<!--SHOWCASE COM IMAGEM DE FUNDO-->
 <div id="showcase">
    <h2>Faça já o Seu Orçamento!</h2>
    <a href="/orcamento"><button>Orçamento</button></a>
 </div>

</body>
</html>




