<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Memorial Descritivo</title>
    <link rel="stylesheet" href="/css/orcamentocurto.css">
  
</head>
<!--Html-->
<body>
    

<main id="main">
    <form id="form" action="" method="POST">
        <H2>Selecione as opções necessárias para o seu projeto!</H2>
        <div id="form-group">
    <h3>Aaa</h3>
    <div >    
    <label for="1">AAA</label>
        <input  type="radio" id="radio">
        <label for="2">AaA</label>
        <input  type="radio" id="radio">
        <label for="3">Aaa</label>
        <input  type="radio" id="radio">
        </div>
    <h3>Bbb</h3>
    <div>    
    <label for="1">BBB</label>
        <input  type="radio" id="radio">
        <label for="2">BbB</label>
        <input  type="radio" id="radio">
        <label for="3">Bbb</label>
        <input  type="radio" id="radio">
        </div>
    <h3>Ccc</h3>
    <div>    
    <label for="1">CCC</label>
        <input  type="radio" id="radio">
        <label for="2">CcC</label>
        <input  type="radio" id="radio">
        <label for="3">Ccc</label>
        <input type="radio" id="radio">
        </div>
        <h3>Ddd</h3>
    <div>    
    <label for="">DDD</label>
        <input  type="radio" id="radio">
        <label for="">DdD</label>
        <input  type="radio" id="radio">
        <label for="">Ddd</label>
        <input type="radio" id="radio">
        </div>
        <h3>Eee</h3>
    <div>    
    <label for="">EEE</label>
        <input  type="radio" id="radio">
        <label for="">EeE</label>
        <input  type="radio" id="radio">
        <label for="">Eee</label>
        <input type="radio" id="radio">
        </div>
        <h3>Fff</h3>
    <div>    
    <label for="">FFF</label>
        <input  type="radio" id="radio">
        <label for="">FfF</label>
        <input  type="radio" id="radio">
        <label for="">Fff</label>
        <input type="radio" id="radio">
        </div>
        <h3>Ggg</h3>
    <div>    
    <label for="">GGG</label>
        <input  type="radio" id="radio">
        <label for="">GgG</label>
        <input  type="radio" id="radio">
        <label for="">Ggg</label>
        <input type="radio" id="radio">
        </div>
        <h3>Hhh</h3>
    <div>    
    <label for="">HHH</label>
        <input  type="radio" id="radio">
        <label for="">HhH</label>
        <input  type="radio" id="radio">
        <label for="">Hhh</label>
        <input type="radio" id="radio">
        </div>
        </div>
        <button type="submit">Concluir</button>
    </form>
    </main>

 


</body>
</html>